*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  padding: 1rem;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem;
}

p {
  font-size: 1.3rem;
  padding: .5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
}

header {
  height: 120px;
  background-color: rgb(66, 145, 230);

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.title{
  font-size: 2.5rem;
  
  padding-left: 10px;
}

#navbar {
  display: flex;
  width: 30vw;
  justify-content: space-around;
}


a {
  list-style: none;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}


main {
  
}
